<div class="animated fadeIn ">
  <h1 class="text-capitalize">
    {{'PAYMENT.PAYMENT_ADVANCE.PLURAL' | translate }}
  </h1>

  <div class="row mb-1">
    <div class="col-4 ml-auto">
      <div class="form-group text-right">
        <button class="btn btn-primary" (click)="getProperties(); findPropertyModal.show()">
          <i class="fa fa-plus"></i>
          {{'PAYMENT.FORM.ADD_ADVANCE' | translate }}
        </button>
      </div>
      <div *ngIf="payments.length > 0" class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input class="form-control" [(ngModel)]="filterQuery" placeholder="{{'GENERAL.SEARCH.SEARCH' | translate}}" />
      </div>
    </div>
  </div>
  <table *ngIf="payments.length > 0" class="table table-striped" [mfData]="payments | dataFilter:{query: filterQuery, cols: ['folio', 'date']}" #mf="mfDataTable"
    [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="folio">{{'PAYMENT.FORM.INPUT_PAYMENT_FOLIO' | translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="name">{{'PROPERTY.GENERAL.SINGULAR' | translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="date">{{'PAYMENT.FORM.INPUT_PAYMENT_DATE' | translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="amount">{{'PAYMENT.FORM.INPUT_PAYMENT_AMOUNT' | translate}}</mfDefaultSorter>
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of payments">
        <td>{{p.folio}}</td>
        <td>{{p.property.name}}</td>
        <td>{{p.date | date:'dd-MM-y'}}</td>
        <td>{{p.amount | numberFormat:{type: 'currency'} }}</td>
        <td>
          <button class="btn btn-sm btn-secondary" (click)="downloadPDF(p)">
            <i class="fa fa-file-pdf-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
  <div *ngIf="payments.length === 0 && !isLoading" class="animated fadeIn alert alert-info w-80 block-center">
    <div class="text-center mb20">
      <i class="fa fa-info-circle fa-3x"></i>
    </div>
    <div class="text-center text-bold mb30">
      {{ 'PAYMENT.FORM.NO_ADVANCES' | translate }}
    </div>
  </div>
  <div class="progress progress-sm" *ngIf="isLoading">
    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>
</div>

<div bsModal #findPropertyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="actionsModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'PROPERTY.ACTIONS_MODAL.FIND' | translate}}</h5>
        <button type="button" class="close" (click)="findPropertyModal.hide()" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="w-50 block-center" *ngIf="!properties">
          <div class="progress progress-sm">
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
          </div>
        </div>
        <div *ngIf="properties">
          <table class="table table-hover table-sm table-responsive">
            <thead>
              <tr>
                <th>{{'PROPERTY.TABLE_HEADER.CODE' | translate}}</th>
                <th>{{'PROPERTY.TABLE_HEADER.NAME' | translate}}</th>
                <th>{{'PROPERTY.TABLE_HEADER.UNITS' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pr of properties" (click)="onSelectProperty(pr); findPropertyModal.hide()">
                <td>{{pr.code}}</td>
                <td>{{pr.name}}</td>
                <td>{{pr.units.length}}</td>
              </tr>
            </tbody>
          </table>
          <div class="animated fadeIn alert alert-info w-100 block-center" *ngIf="properties.length === 0">
            <div class="text-center mb20">
              <i class="fa fa-info-circle fa-5x"></i>
            </div>
            <div class="text-center text-bold mb30">
              {{'PROPERTY.TABLE_HEADER.PROPERTY_DONT_EXIST' | translate}}
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="findPropertyModal.hide()">
          {{'GENERAL.CLOSE' | translate}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
