<h1 class="mb30">
  {{'INITIAL_BALANCE.IMPORT.IMPORT_TEXT' | translate }}
</h1>

<div class="alert alert-{{processStatus.uploadStatus === 'FINISHED' ? 'success' : 'danger'}} w-50 block-center" role="alert"
  *ngIf="processStatus.uploadStatus === 'FINISHED' || processStatus.uploadStatus === 'ERROR'">
  <strong>{{'INITIAL_BALANCE.IMPORT.LAST_IMPORT_STATUS_TITLE' | translate}}</strong> {{processStatus.finishedAt | amDateFormat:
  'DD-MM-YYYY HH:mm'}}
  <br/> {{processStatus.uploadStatus === 'ERROR' ? processStatus.message : 'COMMUNITY.IMPORT.LAST_IMPORT_SUCCESS_TITLE' |
  translate}}
</div>

<div class="animated fadeIn alert alert-info w-50 block-center" *ngIf="isProcessingData">
  <div class="sk-wave mb20">
    <div class="sk-rect sk-rect1 bg-success"></div>
    <div class="sk-rect sk-rect2 bg-success"></div>
    <div class="sk-rect sk-rect3 bg-success"></div>
    <div class="sk-rect sk-rect4 bg-success"></div>
    <div class="sk-rect sk-rect5 bg-success"></div>
  </div>
  <div class="text-center text-bold mb30">{{'GENERAL.PROCESS_START' | translate}}</div>
</div>

<div class="row animated fadeIn" *ngIf="!uploadedData && !uploadedErrorData && !isProcessingData">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-upload"></i> <strong>{{'GENERAL.IMPORT_FILE' | translate}}</strong>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="file">{{'INITIAL_BALANCE.IMPORT.IMPORT_FILE' | translate}}</label>
              <input class="form-control" id="file" name="file" type="file" (change)="fileChangeEvent($event)" [disabled]="isUploading"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
              <small class="text-muted">{{'INITIAL_BALANCE.IMPORT.VALID_EXTENSIONS' | translate}}</small>
            </div>
            <div class="form-group" *ngIf="isUploading">
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="button" (click)="upload()" [disabled]="isUploading || !fileToUpload">
          <i class="fa fa-cloud-upload"></i> {{'INITIAL_BALANCE.IMPORT.UPLOAD_FILE' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <app-initial-balance-generate-xlsx></app-initial-balance-generate-xlsx>
  </div>
</div>

<div class="card animated fadeIn" *ngIf="uploadedData">
  <div class="card-header">
    <i class="fa fa-bars"></i> <strong>{{'INITIAL_BALANCE.IMPORT_SUCCESS.UPLOAD_RESULTS' | translate}}</strong>
    <div class="pull-right">
      <button (click)="warningAcceptModal.show()" class="btn btn-sm btn-success">
        <i class="fa fa-check"></i>
        {{'GENERAL.SAVE_CHANGES' | translate}}
      </button>
      <button (click)="infoCancelModal.show()" class="btn btn-sm btn-danger">
        <i class="fa fa-times"></i>
        {{'GENERAL.CANCEL' | translate}}
      </button>
    </div>
  </div>

  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block p-1 clearfix">
            <i class="fa fa-building bg- p-1 font-2xl mr-1 float-left"></i>
            <div class="text-muted text-uppercase font-weight-bold font-xs">{{'PROPERTIES.TOTAL.COUNT' | translate}}</div>
            <div class="h5 mb-0 mt-h">{{stats.property_count | numberFormat }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block p-1 clearfix">
            <i class="fa fa-money bg- p-1 font-2xl mr-1 float-left"></i>
            <div class="text-muted text-uppercase font-weight-bold font-xs">{{'PROPERTIES.TOTAL.DEBT' | translate}}</div>
            <div class="h5 mb-0 mt-h">{{stats.property_total | numberFormat: { type: 'currency' } }}</div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <div class="row">
      <div class="col-md-4 mb20" *ngFor="let data of stats.debt_type_keys">
        <div class="callout callout-info b-t-1 b-r-1 b-b-1 p-y-q bg-white">
          <small class="text-muted text-bold">{{'DEBT.TYPE.' + data | translate}}</small>
          <br>
          <strong class="h4">{{stats.debt_type_amount[data] | numberFormat: { type: 'currency' } }}</strong>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>

  <div class="card-block">
    <accordion>
      <accordion-group #group *ngFor="let data of uploadedData.data">
        <div accordion-heading class="row">
          <div class="col-md-10">
            <i class="fa" [ngClass]="{'fa-caret-down': group?.isOpen, 'fa-caret-right': !group?.isOpen}"></i> {{data.property.name}}
          </div>
          <div class="col-md-2 text-right">{{data.total | numberFormat: { type: 'currency' } }}</div>
        </div>
        <div class="table">
          <div class="row bg-stripe">
            <div class="col-md-5 th">{{'INITIAL_BALANCE.TABLE_HEADER_IMPORT_SUCCESS.DEBT_CONCEPT' | translate}}</div>
            <div class="col-md-5 th">{{'INITIAL_BALANCE.TABLE_HEADER_IMPORT_SUCCESS.NAME' | translate}}</div>
            <div class="col-md-2 text-right th">{{'INITIAL_BALANCE.TABLE_HEADER_IMPORT_SUCCESS.AMOUNT' | translate}}
            </div>
          </div>
          <div class="row" *ngFor="let debt of data.initialBalances">
            <div class="col-md-5 td">{{'DEBT.TYPE.' + debt.debtType.slug | translate }}</div>
            <div class="col-md-5 td">
              <span *ngIf="debt.fund">{{debt.fund ? debt.fund.name : ''}}</span>
              <span *ngIf="debt.consumerService">{{debt.consumerService ? debt.consumerService.name : ''}}</span>
              <span *ngIf="debt.billCategory">{{debt.billCategory ? debt.billCategory.name : ''}}</span>
              <span *ngIf="debt.sector">{{debt.sector ? debt.sector.name : ''}}</span>
            </div>
            <div class="col-md-2 text-right td">{{debt.amount | numberFormat: { type: 'currency' } }}</div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button (click)="warningAcceptModal.show()" class="btn btn-sm btn-success">
        <i class="fa fa-check"></i>
        {{'GENERAL.SAVE_CHANGES' | translate}}
      </button>
      <button (click)="infoCancelModal.show()" class="btn btn-sm btn-danger">
        <i class="fa fa-times"></i>
        {{'GENERAL.CANCEL' | translate}}
      </button>
    </div>
  </div>
</div>

<div class="card animated fadeIn" *ngIf="uploadedErrorData">
  <div class="card-header">
    <i class="fa fa-bars"></i> <strong>{{'INITIAL_BALANCE.IMPORT_ERRORS.UPLOAD_ERROR_RESULTS' | translate}}</strong>
    <div class="pull-right">
      <button (click)="closeImportErrors()" class="btn btn-sm btn-info">
        {{'GENERAL.TRY_BACK' | translate}}
      </button>
    </div>
  </div>
  <div class="card-block">
    {{uploadedErrorData.message}}
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<div bsModal #warningAcceptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'GENERAL.CONFIRMATION_TITLE' | translate}}</h5>
        <button type="button" class="close" (click)="warningAcceptModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'INITIAL_BALANCE.IMPORT_SUBMIT.CONFIRMATION_TEXT' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="warningAcceptModal.hide()">
          {{'GENERAL.CLOSE' | translate}}
        </button>
        <button type="button" class="btn btn-success" (click)="warningAcceptModal.hide(); acceptImport(); ">
          <i class="fa fa-check"></i> {{'GENERAL.SAVE_CHANGES' | translate}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #infoCancelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'GENERAL.INFORMATION_TITLE' | translate}}</h5>
        <button type="button" class="close" (click)="infoCancelModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'INITIAL_BALANCE.IMPORT_SUBMIT.CANCELLATION_TEXT' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoCancelModal.hide()">
          {{'GENERAL.CLOSE' | translate}}
        </button>
        <button type="button" class="btn btn-danger" (click)="infoCancelModal.hide(); cancelImport();">
          <i class="fa fa-times"></i> {{'GENERAL.CANCEL_CHANGES' | translate}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<app-initial-balance-import-log *ngIf="!uploadedData && !uploadedErrorData && !isProcessingData"></app-initial-balance-import-log>