<div class="card-assignment" [formGroup]="expensesAssignForm">
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group form-custom">
        <label for="cuentas">{{ 'EXPENSE.GENERAL.SELECT_ACCOUNT' | translate  }}</label>
        <select [attr.disabled]="edit === true ? '':null" [attr.class]="edit === true ? 'select-disabled':'form-control'" id="cuentas"
          formControlName="account_primary_id" name="account_primary_id" (change)="changeAccount()">
          <option value="" disabled selected>{{ 'EXPENSE.GENERAL.SELECT_ACCOUNT_PLACEHOLDER' | translate  }}</option>
          <option *ngFor="let account of accounts" [ngValue]="account.id">
            {{account.code}}-{{account.name}}
          </option>
        </select>
      </div>
    </div>
    <input type="hidden" [(ngModel)]="expenseAmount" formControlName="amount" name="amount">
    <input type="hidden" formControlName="expense_assignment_type_id" name="expense_assignment_type_id">
    <div class="col-lg-5">
      <div class="form-group form-custom">
        <label for="sub_cuentas">{{ 'EXPENSE.GENERAL.SELECT_SUB_ACCOUNT' | translate  }}</label>
        <select [attr.disabled]="edit === true ? '':null" [attr.class]="edit === true ? 'select-disabled':'form-control'" id="sub_cuentas"
          formControlName="account_id" name="account_id">
          <option value="" disabled selected>{{ 'EXPENSE.GENERAL.SELECT_SUB_ACCOUNT_PLACEHOLDER' | translate  }}</option>
          <option *ngFor="let subAccount of subAccounts" [ngValue]="subAccount.id">
            {{subAccount.code}}-{{subAccount.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-2">
      <label for="numero_cuotas">{{ 'EXPENSE.FEE.PLURAL' | translate  }}</label>
      <input id="numero_cuotas" type="number" [min]="1" [max]="60" formControlName="feesCount" name="feesCount" class="form-control"
        placeholder="1" (change)="changeFeeCount(expensesAssignForm.value)" (keypress)="_helperService.validateCharacter($event); $event.stopPropagation();"
      />
    </div>
  </div>

  <div class="col-lg-12 not-padding">
    <div class="animated fadeIn">
      <div>
        <div class="card-light">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <label>{{ 'EXPENSE.FEE.PLURAL' | translate  }}</label>
              </div>
              <div class="col-lg-2">
                <label>{{ 'EXPENSE.GENERAL.SELECT_EXPENSE_PERIOD' | translate  }}</label>
              </div>
              <div class="col-lg-1">
                <label>{{ 'EXPENSE.FEE.PORCENT' | translate  }}</label>
              </div>
              <div class="col-lg-1">
                <label>{{ 'EXPENSE.FEE.MONEY' | translate  }}</label>
              </div>
              <div id="content_sectors_title" class="col-lg-6 not-padding">
                <div class="row">
                  <div class="col" *ngFor="let sector of sectors">
                    <div class="text-center">
                      <label *ngIf="sector.name === 'DEFAULT_SECTOR'">{{ 'SECTOR.GENERAL.DEFAULT_SECTOR' | translate  }}</label>
                      <label *ngIf="sector.name !== 'DEFAULT_SECTOR'">{{ sector.name | translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-top-0">
          <div class="col-lg-12 not-padding">
            <div class="content-parameters-post">
              <div formArrayName="expense_fees">
                <div *ngFor="let fee of expensesAssignForm['controls'].expense_fees['controls']; let i=index">
                  <div class="col-lg-12 not-padding">
                    <div class="style-custom-card-fee">
                      <div class="card not-padding not-margin">
                        <div class="card-header animated fadeIn padding-card-fee ">
                          <app-fee-dynamic
                            [periodCurrentSetting]="periodCurrentSetting"
                            [feeIndex]="i"
                            [amountFee]="amountFee"
                            [amountExpense]="expenseAmount"
                            [count]="expensesAssignForm.controls.feesCount.value"
                            [edit]="edit" [feeForm]="expensesAssignForm.controls.expense_fees.controls[i]" [alert]="notificationAlert"
                            [expensesForm]="expensesForm" [form]="expensesAssignForm" [sectors]="sectors" [periods]="periods"
                            (ouputStateForm)="ouputFormValid($event)" (ouputStateFormFees)="ouputFormValidFee($event)" (ouputPeriod)="ouputPeriodSelected($event)"></app-fee-dynamic>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
