.assign-property-header{
  width: 100%; 
  height: 26px;
  padding: 3px 10px;
  margin: 3px 0;
  opacity: 0.9;
}

.assign-property{
  width: 100%; 
  background-color: #f0f0f0;
  padding: 4px;
  margin: 3px 0;
  line-height: 30px;
}

.badge-margin{
  margin-top: 6px;
  padding: 4px
}

.line-height{
  line-height: 28px;
}

.card{
  margin-bottom: 0.5rem;
}

.btn-margin-right{
  margin: 25px 20px 0
}