<div class="animated fadeIn">
  <h1 class="text-capitalize">
    {{'FUND.GENERAL.PLURAL' | translate}}
  </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="form-group col-md-8">
          <button routerLinkActive="active" [routerLink]="['/fund/create']" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i>&nbsp; {{ 'FUND.BTN.NEW_FUND' | translate}}</button>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="{{'GENERAL.SEARCH.SEARCH' | translate}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table big-table" [mfData]="data | dataFilter:{query: filterQuery, cols: ['name']}" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="name">
                    {{'FUND.TABLE.NAME' | translate}}
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="account">
                    {{'FUND.TABLE.ACCOUNT' | translate}}
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="form_collection">
                    {{'FUND.TABLE.FORM_COLLECTION' | translate}}
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="total_balance">
                    {{'FUND.TABLE.BALANCE' | translate}}
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="state">
                    {{'FUND.TABLE.STATE' | translate}}
                  </mfDefaultSorter>
                </th>
                <th class="text-right">
                  <mfDefaultSorter by="tools">
                    {{'FUND.TABLE.TOOLS' | translate}}
                  </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tfoot *ngIf="!isLoading">
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
            <tbody *ngIf="!isLoading">
              <tr *ngFor="let item of mf.data">
                <td>{{item.name}}</td>
                <td>{{item.bank_account.bank.name}} - {{item.bank_account.code}}</td>
                <td>{{item.fund_income_type.name}}</td>
                <td>{{item.total_balance | numberFormat: { type: 'currency' } }}</td>
                <td>
                  <label class="switch switch-pill switch-text switch-primary mb-0">
                    <input class="switch-input" [(ngModel)]="item.active" type="checkbox" (change)="switchState(item.id);">
                    <span class="switch-label" data-on="Si" data-off="No"></span>
                    <span class="switch-handle"></span>
                  </label>
                </td>
                <td class="text-right">
                  <button routerLinkActive="active" [routerLink]="['/fund/edit/', item.id]" type="button" class="btn btn-sm btn-primary" title="{{'FUND.TOOLS.EDIT' | translate}}">
                    <i class="fa fa-edit"></i>
                  </button>
                  <!-- selectBankAccount -->
                  <!-- (click)="deleteFund(item.id)" -->
                  <button (click)="deleteFund(item.id);actionsModal.show()" type="button" class="btn btn-sm btn-danger" title="{{'EXPENSE.TOOLS.DELETE' | translate}}">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #actionsModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="actionsModal" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'GENERAL.CONFIRMATION_TITLE' | translate}}</h5>
        <button type="button" class="close" (click)="actionsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'FUND.FORM.MSG_DELETE_FUND' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="actionsModal.hide()">
          {{'GENERAL.CANCEL' | translate}}
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteFundConfirm(fundDeleteId);actionsModal.hide()">
          <i class="fa fa-trash"></i> {{'GENERAL.DELETE' | translate}}
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div *ngIf="isLoading">
  <div class="progress progress-sm">
    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated w-100" role="progressbar"></div>
  </div>
</div>