.text-line{
  line-height: 30px;
}

.green{
  color: #20c997
}
.red{
  color: #ff5454
}

.nav-btn li{
  margin-left: 5px;
}

.no-border-left{
  border-left:none;
}

.no-border-right{
  border-right:none;
}

.padding-right-30{
  padding-right:30px;
}
