.months {
    padding-top: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.type-units {
    padding-top: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    .card {
        width: 100%;
    }
}

.red-border{
    border-color:red;
}