.main-account {
  border-bottom: 2px solid black !important;
}

.sub-account {
  margin-bottom: 8px;
}

.sub-account-expense {
  padding-left: 30px;
}

.close-common-expense {
  margin-top: 1.8rem !important;
}

.disabled-switch {
  background: #cccccc !important;
  border-color: #ddd !important;
}
