.child-account{
  background-color: #f0f0f0;
  line-height: 30px;
  border-top: 2px solid #ffffff;
  padding-left: 15px;
}

.spinnerBig{
  margin-bottom: 65px;

}

.divSpinner {
  float: none; margin: 0 auto;
}

hr{
  border: 0;
  border-top: 1px solid gray;
  opacity: .3;
}
